<main>
    <div class="position-relative">
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="separator separator-bottom separator-skew">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div *ngIf="adData; then recentAdsView; else loadingAdView"></div>
                    <ng-template #recentAdsView>
                        <div class="card card-nav-tabs">
                            <div class="card-header card-header-warning">
                                <i onclick="history.back()" class="fa fa-arrow-left" aria-hidden="true"></i>
                                Ogłoszenie użytkownika {{ adData.accountByIdAccount.nickname }}
                                <span class="badge badge-pill badge-success" style="float: right">{{
                                    adData.categoryByIdCategory.name
                                    }}</span>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ adData.title }}</h4>
                                <p class="card-text">{{ adData.content }}</p>
                                <a href="javascript:" class="btn btn-primary">Dane kontaktowe</a>
                                <span style="float: right">
                                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Edytuj</a>
                                <a href="javascript:void(0)" class="btn btn-sm btn-warning mr-4">Usuń</a>
                                </span>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #loadingAdView>
                        <app-loading-spinner></app-loading-spinner>
                    </ng-template>
                </div>
            </div>
        </div>
    </section>
</main>