<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/ASKOR.png">
      <p style="color:black;font-size:10px;">Ogłoszenia regionalne</p>
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Ogłoszenia</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['/ad']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <i class="ni ni-spaceship"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Przeglądaj ogłoszenia</h6>
                  <p class="description d-none d-md-inline-block mb-0">Sprawdź ogłoszenia w twoim regionie wystawione przez innych użytkowników.</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/add']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <i class="ni ni-palette"></i>
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Dodaj ogłoszenie</h6>
                  <p class="description d-none d-md-inline-block mb-0">Wystaw swoje ogłoszenie dla ludzi z regionu.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text">Konto</span>
          </a>
          <div class="dropdown-menu">
            <a [routerLink]="['/moderator-panel']" class="dropdown-item">Panel moderatora</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Profil</a>
            <a [routerLink]="['/login']" class="dropdown-item">Wyloguj</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/login']" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              <i class="fa fa-sign-in mr-2"></i>
            </span>
            <span class="nav-link-inner--text">Zaloguj</span>
          </a>
        </li>
      </ul>
    </div>
</nav>
